.leaderboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.leaderboard-text {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}