header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.logo {
  display: inline-block;
  margin-right: 25%;
  font-size: 24px;
}

#streak {
  margin-right: 5%;
}
