/* Page Constraints */
body {
  margin: 0;
  padding: 0;
  background-color: #ededed;
}

.app {
  width: 100%;
}

main {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

/* Mobile Stuff */
@media (min-width: 768px) {
  .app {
    max-width: 800px;
    margin: 0 auto;
  }

  main {
    flex-direction: row;
  }
}

@media (min-width: 769px) {
  body::before {
    content: "This app is optimized for mobile. Please view on a mobile device.";
    display: block;
    background-color: #ffcccc; /* Light red background color for warning */
    color: #cc0000; /* Dark red text color for warning */
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  .app {
    display: none;
  }
}
