.logo {
  display: inline-block;
  margin-right: 50%;
  font-size: 24px;
}

.pathHeader {
  background-color: #5158BB;
  border-radius: 25px;
  flex-direction: row;
  padding: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Page Constraints */
body {
  margin: 0;
  padding: 0;
  background-color: #EDEDED;
}

.app {
  width: 100%;
}

main {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Mobile Stuff */
@media (min-width: 768px) {
  .app {
    max-width: 800px;
    margin: 0 auto;
  }

  main {
    flex-direction: row;
  }
}
