body {
  color: black;
}

h1 {
  text-align: center;
}

.subHeader {
  margin-bottom: 5%;
  text-align: center;
}

.errorContainer {
  background-color: lightpink;
  border: 2px solid lightpink;
  color: darkred;
  text-align: center;
  margin-bottom: 3%;
}

.authContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.toggle {
  margin-top: 3%;
  color: slategray;
  text-align: center;
}

label {
  font-weight: bold;
}

input {
  margin-bottom: 2%;
}

.submitButton {
  margin-top: 3%;
  background-color: #5158bb;
  color: white;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
